{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

---
title:"Vehicle Data Analysis And Driver Behavior Prediction"
---

In this experiment, we carried out a detailed analysis of a group of vehicle networking
data, including but not limited to: preliminary analysis, histogram, scatter plot, boxplot analysis, fitting error analysis, mean
square error analysis, quantile regression analysis, time series analysis, cluster analysis, and so on, and drew some conclusions
with commercial value.
 
